<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/admin.png" alt="Admin" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Johan Zein</h1>
      <p class="lead">Beginer Programer</p>
    </div>
  </div>
</div>